services:

  php:
    build:
      dockerfile: ./docker/php.Dockerfile
    working_dir: /var/leanphp-app
    volumes:
      - .:/var/leanphp-app

  nginx:
    image: nginx:latest
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./var/nginxLogs:/var/log/nginx
      - .:/var/leanphp-app
    ports:
      - "8081:80"

  frakenphp:
    image: dunglas/frankenphp
    volumes:
      - $PWD:/app
    ports:
      - "443:443"
