includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    tmpDir: var/phpstan

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true

    paths:
        - bin
        - bootstrap
        - library
        - src
        - tests

    ignoreErrors:
        - '#.+with generic class LeanPHP\\Container (but )?does not specify its types: ServiceType#' # needed until we figure out the genericity in the Container
        - '#Parameter \#(1|3) \$(level|context) .*of method .+::log\(\) should be contravariant with parameter \$(level|context) \((mixed|array)\) of method Psr\\Log\\.+::log\(\)#' # library logging
        - '#Parameter \#1 \$level of method .+::handleLevel\(\) expects .*, string given\.#' # library logging
        - '#Method .+QueryBuilder.+ return type with generic class LeanPHP\\Database\\QueryBuilder does not specify its types: HydratedEntityType#'
        -
            message: '#Cannot cast array\|bool\|float\|int\|object\|string\|null to #'
            paths:
                - library/src/Container.php
                - library/src/ConfigRepository.php
        -
            message: '#Cannot access offset .+ on mixed\.#'
            paths:
                - library/tests/QueryBuilderTest.php

